@import url('https://fonts.googleapis.com/css?family=Roboto:300,100');

body {
  padding: 100px;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 100;
  color: #4f5c79;
  font-family: "Roboto", sans-serif;
}

p {
  text-align: center;
  color: #4f5c79;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 23px;
}
